$desktop: "only screen and (min-width: 900px)";

$primary-color: #444444;
$secondary-color: #1691C3;
$background-color: #E4E4E4;
$logo-color: #FC4887;
$white-color: #FFFFFF;
$primary-font: 'Open Sans', sans-serif;

$container-width: 1400px;