@use "../../variables/general";
.header__logo {
  background-color: general.$logo-color;
  color: general.$white-color;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-family: general.$secondary-font;
  font-size: 3.25em;
  line-height: 1em;
}