@use "../../variables/general";
@use "../../mixins/mixins";
.banner {
  display: flex;
  justify-content: space-between;
  background-color: general.$white-color;
  padding: 4.5em;
  gap: 20px;
  @include mixins.mobile() { flex-direction: column; }
  .banner__content {
    max-width: 70%;
    @include mixins.mobile() { max-width: 100%; text-align: center; }
    .banner__content--title { font-size: 3.5em; font-weight: 800;}
    .banner__content--text { font-size: 2.75em; font-weight: 300; }
  }
}